*{
    margin: 0;
}

a{
    text-decoration: none;
}

.container {
    width: 600px;
    height: 250px;
    background-color: lightsteelblue;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.displaycontainer {
    height: 50px;
    width: 100%;
    background-color: lightgreen;
    display: flex;
    align-items: center;
    justify-content: end;
}

.displaytext {
    padding: 15px;
}

.buttonscontainer {
    display: flex;
    gap: 16px;
}

.buttongrid {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    gap: 5px;
}

.functionbuttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-evenly;
    gap:5px;
}

.numberbutton {
    flex: auto;
    display: flex;
    height: 30px;
    width: 33%;
    align-items: center;
    justify-content: center;
    background-color: lightpink;
}

.number {
    ;
    
    background-color: blue;
}

.funcbutton {
    display: flex;
    background-color: lightyellow;
    flex: auto;
    align-items: center;
    justify-content: center;
}