*{
    margin: 0;
}


.container {
    width: 600px;
    height: 250px;
    background-color: lightsteelblue;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.displaycontainer {
    height: 50px;
    width: 100%;
    background-color: lightgreen;
}

.buttonscontainer {
    display: flex;
    
}

.buttongrid {
    display: flex;
    flex-wrap: wrap;
    width: 50%
}

.functionbuttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.numberbutton {
    flex: auto;
    display: flex;
    width: 50px;
    height: 30px;
    align-items: center;
    justify-content: center;
    background-color: lightpink;
}

.funcbutton {
    width: 100%;
    background-color: lightyellow;
}